<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>About Page</title>
</head>
<body>
    <div style="text-align:left" class="container">
        <h1>About Us</h1>
        <hr>
        <h3>Mission</h3>
        <h5>Our goal is to give every farmer the ability to freely buy fully customized Tractors and repair their Tractors with fairly priced Parts.
            Big Tractor has gone too far and we want to put the tools of farmers back in their control and within their financial reach.</h5>
        <hr>
        <h3>How & Why?</h3>
        <h5>We plan on encouraging farmers to repair and customize their tools in order to destroy the rhetoric that machinery is too complicated and hard to repair.
            The only purpose of an Anti-Repair rhetoric is to charge absurd service fees and take advantage of the farmers needs in order to profit</h5>
        <hr>
        <h3>Custom Products</h3>
        <h5>Beyond our goal of giving the farmer back their right to repair we plan on driving down Tractor prices throughout the industry by deploying
            our Custom Tractors. We plan on using the best parts and expert engineers to deliver the Tractor of your dreams to you, designed by you. Unlike
            what has unfortunately become industry standard we plan on charging a fair price and only taking a small margin to maintain and grow our bussiness.</h5>
        <hr>
        <h3>How Can You Help?</h3>
        <h5>Some ways to support us are to use our repair services by buying parts, or on a larger scale by buying fully Customized Tractors when the need arises.
            The Best way to support us though, is to let all your farmer friends know that we exist and that we're here to help.</h5>
        <hr>
        <h2>Thank You for your time!</h2>
        <a href="http://localhost:8080/">Link
            to Main Screen</a>
    </div>
</body>
</html>